sudo: false

language: cpp

#os: 
#  - osx
#  - linux

#compiler: REMOVE comments to test both gcc and clang compilers
  #- gcc
  #- clang
# Install packages for cross-compilation to 32 Bit
addons:
  apt:
    packages:
    - gcc-multilib
    - g++-multilib
    - lib32z1

matrix:
  include:
    - env: PYTHON="2.7" CONDA_PY=27 ARCH="x86"
      os: linux
    - env: PYTHON="2.7" CONDA_PY=27 ARCH="x86_64"
      os: linux
    - env: PYTHON="2.7" CONDA_PY=27 ARCH="x86_64"
      os: osx
    - env: PYTHON="3.4" CONDA_PY=34 ARCH="x86"
      os: linux
    - env: PYTHON="3.4" CONDA_PY=34 ARCH="x86_64"
      os: linux
    - env: PYTHON="3.4" CONDA_PY=34 ARCH="x86_64"
      os: osx
    - env: PYTHON="3.5" CONDA_PY=35 ARCH="x86"
      os: linux
    - env: PYTHON="3.5" CONDA_PY=35 ARCH="x86_64"
      os: linux
    - env: PYTHON="3.5" CONDA_PY=35 ARCH="x86_64"
      os: osx

# Use miniconda to install binary versions of numpy etc. from continuum
# analytic's repository. Follows an approach described by Dan Blanchard:
# https://gist.github.com/dan-blanchard/7045057
before_install:
  - if [ ${PYTHON:0:1} == "2" ]; then
      if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-$ARCH.sh -O miniconda.sh;
      else
      wget http://repo.continuum.io/miniconda/Miniconda-latest-MacOSX-$ARCH.sh -O miniconda.sh;
      fi;
      else
      if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-$ARCH.sh -O miniconda.sh;
      else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-$ARCH.sh -O miniconda.sh;
      fi;
    fi
  - chmod +x miniconda.sh
  # When we are installing the 32 Bit conda on a 64 Bit system, the miniconda
  # installer will ask for a "yes" despite the -b flag, so we pipe in a yes
  - yes | ./miniconda.sh -b -p $HOME/miniconda
  #- bash miniconda.sh -b -p -f $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$HOME/miniconda/lib:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
   # download/install OCE from DLR-SC channel
  - conda config --add channels https://conda.anaconda.org/dlr-sc
  # install everything required to build the receipe
  - conda install conda-build anaconda-client


script:
  - conda build ci/conda

branches:
  only:
    - master
    - /^review/
