os: linux
dist: bionic

language: cpp

cache:
 apt: true

addons:
  apt:
    packages:
      - mesa-common-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev

git:
  depth: false

# the secure below is the binstar token
# to genrate this secure
# first create an anconda cloud token
# $ anaconda auth -n the_token_name --max-age 22896000 -c --scopes api
# the token is return as something like "yh-6654-12334_111225"
# then encrypt the token
# Note : in order to encrypt using travis
# You may have to :
# $ sudo gem install travis
# (especially if you performed a linux distro upgrade, ruby should not be up to date)
# You have to be in the directory where you installed the local copy of the repository
# $ cd [your_dev_dir]/pythonocc-core
# $ sudo travis encrypt BINSTAR_TOKEN="yh-6654-12334_111225"
# !!be careful about the typo BINSTAR_TOKEN with the proper case. Otherwise
# !!the $BINSTAR_TOKEN env var value will be null and the line
# !!anaconda -t $BINSTAR_TOKEN upload *.bz2 will not be run properly
# after that, copy/paste the secure on the following line
env:
  global:
    - secure: "Mu6SQsBmz2inttfIj3pXk4lx6ZXNs7MAq1agDgnGJknQTTi4ta0H+usxKhhGvxkh4eGgX01HuXAbPejU0W9xatHvYDQ3piKvqv672TrhYShHA4bWJke3q88BezSYaDQ+UBTmP5DD/ZFbprH+6bP9WqpRaYGC6UHbFkjRKEd2bk4="

jobs:
  include:
# Linux
    - env: PYTHON="3.5" CONDA_PY=35 ARCH="x86_64"
    - env: PYTHON="3.6" CONDA_PY=36 ARCH="x86_64"
    - env: PYTHON="3.7" CONDA_PY=37 ARCH="x86_64"
# OSX
    - env: PYTHON="3.5" CONDA_PY=36 ARCH="x86_64"
      os: osx
      osx_image: xcode9.4
    - env: PYTHON="3.6" CONDA_PY=36 ARCH="x86_64"
      os: osx
      osx_image: xcode9.4
    - env: PYTHON="3.7" CONDA_PY=37 ARCH="x86_64"
      os: osx
      osx_image: xcode9.4
# Windows
    - env: PYTHON="3.5" CONDA_PY=35 ARCH="x86_64" CXX="cl.exe"
      os: windows
    - env: PYTHON="3.6" CONDA_PY=36 ARCH="x86_64" CXX="cl.exe"
      os: windows
    - env: PYTHON="3.7" CONDA_PY=37 ARCH="x86_64" CXX="cl.exe"
      os: windows

# Use miniconda to install binary versions of numpy etc. from continuum
# analytic's repository. Follows an approach described by Dan Blanchard:
# https://gist.github.com/dan-blanchard/7045057
before_install:
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then
      MINICONDA_PATH=$HOME/miniconda;
      MINICONDA_SUB_PATH=$MINICONDA_PATH/bin;
    elif [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      MINICONDA_PATH=/c/tools/miniconda3;
      MINICONDA_SUB_PATH=$MINICONDA_PATH/Scripts;
    fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
    fi

install:
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then
      chmod +x miniconda.sh;
      yes | ./miniconda.sh -b -p $MINICONDA_PATH;
    elif  [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      echo "installing miniconda for windows";
      choco install openssl.light;
      choco install miniconda3;
    fi;
  # When we are installing the 32 Bit conda on a 64 Bit system, the miniconda
  # installer will ask for a "yes" despite the -b flag, so we pipe in a yes
  - yes | ./miniconda.sh -b -p $HOME/miniconda
  #- bash miniconda.sh -b -p -f $HOME/miniconda
  - export PYTHONUNBUFFERED=1
  - export PATH="$MINICONDA_PATH:$MINICONDA_SUB_PATH:$PATH";
  - hash -r
  - conda config --set always_yes yes --set changeps1 no --set ssl_verify false
  - conda update -q conda
  # install everything required to build the receipe
  - conda install conda-build
  - conda install anaconda-client
  # Useful for debugging any issues with conda
  - conda info -a
  # dlr-sc channel is required for opencascade-7.4.0 package
  - conda config --add channels https://conda.anaconda.org/dlr-sc
  - conda config --add channels https://conda.anaconda.org/conda-forge

script:
  - conda build ci/conda --dirty --no-remove-work-dir

# automative upload to anaconda cloud only
# if the build was triggered by a cron
# labelled as "nightly"
# else labelled as "continuous-delivery"
after_success:
  - python ci/move-conda-package.py
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      anaconda -t $BINSTAR_TOKEN upload *.bz2 -l main --force;
    else
      anaconda -t $BINSTAR_TOKEN upload *.bz2 -l cd-$TRAVIS_BRANCH --force;
    fi


branches:
  only:
    - master
    - /^review/
