language: cpp

compiler:
  - gcc
  - clang

env:
  matrix:
    - python_version=2.7
    - python_version=3.5m

install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$python_version" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$HOME/miniconda/lib:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
   # download/install OCE from DLR-SC channel
  - conda install -c https://conda.anaconda.org/dlr-sc oce
  # download/install swig
  - conda install swig
  # install everything required to build the receipe
  - conda install pip conda-build jinja2 binstar
  # and wxpython, pyside, pyqt are used for testing graphics
  # wxpython/pyside packages only available for python 2
  # pyqt is available for both
  # however, we install pyqt on py3k only, this cause the simplegui
  # to force pyside on python2 since pyqt4 is not found
  - if [[ "$python_version" == "2.7" ]]; then
      conda install wxpython;
      conda install pyside;
    else
      conda install pyqt;
    fi

script:
  - conda build ci/conda

after_script:

branches:
  only:
    - master
    - /^review/
